.continer{
    width: 1200px;
    height: auto;
    background-color: #fff;
    
}

a{
    cursor: default;
    color: #000;
    font-size: 15px;
}
.menu_admin_pint{
    display: block;
    padding: 10px;
    
}

a:hover{
    color: rgb(28, 247, 28);
}

.imges_content{
    width: 200px;
}
table{
    border: 1px solid #000;
}

.button_redact, .button_delete{
    display: block;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: blue;
    font-size: 25px;
    color: #fff;
    margin-top: 20px;
}
.button_delete{
     background-color: #434a57;
}
.sticky_top{
    display: flex;
}
.active_block{
    
    display: block;
    background-color: #fff;
    border:1px solid #0c0c0c;
    padding: 20px;
    margin: 0 auto;
}
.isactive_block{
    display: none;
}
.th{
    width: 10%;
    border: 1px solid #000;
}
.td{
    width: 90%;
    border: 1px solid #000;
}
tbody{
   border: 2px solid #cc2323;
}
.button_conteiner{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}