.container{
    display: flex;
    height: 100%;
    background-color: #fff;
    
}

.nav_center{
     width: 700px;
    height: 50px;
    text-align: right;
    background-color: #fff;
    padding: 15px;
    border-bottom: 1px solid #817f7f42;
}
.items_center{
    display: flex;
    justify-content: flex-end;
}
.menu_item{
    list-style: none;
    padding: 10px 5px;
}

.item_level{
    font-size: 14px;
    font-weight: 400;
}
.header_content{
    text-align: left;
    font-size: 16px;
    margin: 0;
    padding: 0 20px;
    width: 700px;
}
.main_content{
    background-color: #fff;
    width: 700px;
}

.rounded_full{
    width: 60px;
    border-radius: 50%;
}
.text_base{
    padding: 0 5px;
}
a{
    cursor: default;
    color: #000;
    font-size: 15px;
}
.menu_admin_pint{
    display: block;
    padding: 10px;
    
}

a:hover{
    color: rgb(28, 247, 28);
}

.imges_content{
    width: 200px;
}
table{
    border: 1px solid #000;
}
td{
    border: 1px solid #000;
}
.button_redact, .button_delete{
    display: block;
    padding: 10px 20px;
    margin:  10px;
    border-radius: 10px;
    background-color: blue;
    font-size: 15px;
    color: #fff;
}
.button_delete{
     background-color: #434a57;
}
.sticky_top{
    display: flex;
    padding: 15px;
}
.user_name, .user_status, .user_avatar, .user_email{
    width: 15%;
}
.image_user{
    width: 90px;
    border-radius: 50%;
}
.user_control{
    width: 40%;
}

