.app_menu{
    width: 200px;
    height: 100%;
    text-align: left;
    padding: 15px;
    background-color: #fff;
    border-right: 1px solid #817f7f42;
    position: relative;
}

.nav_center{
     width: 700px;
    height: 50px;
    text-align: right;
    background-color: #fff;
    padding: 15px;
    border-bottom: 1px solid #817f7f42;
}
.items_center{
    display: flex;
    justify-content: flex-end;
}
.menu_item{
    list-style: none;
    padding: 10px 5px;
}
.elements{
    list-style: none;
    font-size: 14px;
    font-weight: 400;
}
.admin_menu{
    padding: 10px;

}
.item_level{
    font-size: 14px;
    font-weight: 400;
}
.header_content{
    text-align: left;
    font-size: 16px;
    margin: 0;
    padding: 20px;
    width: 700px;
}
.main_content{
    background-color: #fff;
    width: 700px;
}
.menu_text{
    padding-left: 5px;
}
.logo_img{
    width: 100%;
}
.rounded_full{
    width: 60px;
    border-radius: 50%;
}
.text_base{
    padding: 0 5px;
}
a{
    cursor: default;
    color: #000;
    font-size: 15px;
}
.menu_admin_pint{
    display: block;
    padding: 10px;
    
}

a:hover{
    color: rgb(28, 247, 28);
}

.imges_content{
    width: 200px;
}
table{
    border: 1px solid #000;
}
td{
    border: 1px solid #000;
}
.button_redact, .button_delete{
    display: block;
    padding: 10px 20px;
    margin:  10px;
    border-radius: 10px;
    background-color: blue;
    font-size: 15px;
    color: #fff;
}
.button_delete{
     background-color: #434a57;
}
.sticky_top{
    display: flex;
    padding: 15px;
}
.menu_open{
    display: none;
}
@media (max-width: 1040px){
    .app_menu{
       width: 30%; 
    }
    .header_content, .main_content{
        width: 70%; 
    }
     .logo_main, .left_menu{
      display: none;
    }
    .logo_img{
        width: 70%;
    }
    .menu_open{
        display: block;
        position: absolute;
        /* opacity: -1; */
        font-size: 30px;
        padding: 15px;
    }
    .app_menu:hover .left_menu{
         display: block;
         position: absolute;
         width: 150px;
         background-color: #fff;
    }
}
@media (max-width: 800px){
    .app_menu{
       width: 10%; 
    }
    .header_content, .main_content{
        width: 90%; 
    }
    
}