.menu{
    width: 100%;
    height: auto;
    background-color: #5e4886;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.name_menu{
    padding: 5px 20px;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    margin-right: 50px;
}
.news_menu, .main_menu{
    display: flex;
    justify-content: space-between;
    align-items:center;
    list-style-type: none;
    border-left: 1px solid #fff;
    padding: 25px 0;
}
.button_menu{
    display: block;
}
.button{
    padding: 10px 20px;
    margin: 20px 10px;
    color: #fff;
   
}
.isactive_block{
    display: none;
}
.active_block{
    position: absolute;
    background-color: #f54545;
    border:1px solid #0c0c0c;
    padding: 20px;
    margin: 0 auto;
    top: 30%;
    left: 45%;
    width: 300px;
    border-radius: 20px;
}
.header_error{
    font-size: 20px;
    color: #faf7f7;
}
.button_error{
    padding: 10px 20px;
    background-color: blue;
    border-radius: 10px;
    color:#fff;
}
@media(min-width: 825px) and (max-width: 990px){
    .button{
        padding: 0%;
        margin: 20px 10px;
        color: #fff;

    }
    

}
@media(min-width: 660px) and (max-width: 824px){
    .button{
        padding: 0%;
        margin: 5px 5px;
        color: #fff;

    }
    .name_menu{
        padding: 10px 5px;
        font-size: 20px;
        margin-right: 30px;
    }
    .news_menu, .main_menu{
        padding: 15px 0;
    }
}
@media(max-width: 659px){
    .button{
        padding: 0%;
        margin: 5px 5px;
        color: #fff;
        font-size: 12px;
        display: block;

    }
    .name_menu{
        padding: 10px 5px;
        font-size: 15px;
        margin-right: 10px;
    }
    .news_menu, .main_menu{
        padding: 5px 0; 
        display: block;
    }
}